<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530725892434-ph2e4ao8rulrhj1km2bspc73ennfqgi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530725892434-ph2e4ao8rulrhj1km2bspc73ennfqgi9</string>
	<key>API_KEY</key>
	<string>AIzaSyDRx-ZDTqWPG_P9vQFY_kB6ywo9ZyXXbAE</string>
	<key>GCM_SENDER_ID</key>
	<string>530725892434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoreBoard</string>
	<key>PROJECT_ID</key>
	<string>score-board-eca1e</string>
	<key>STORAGE_BUCKET</key>
	<string>score-board-eca1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530725892434:ios:501091343909e1ca31ca8b</string>
</dict>
</plist>